<mit-header></mit-header>

<mtr-banner class="py--xxl">
  <mtr-container class="px--l py--xxl text--center">
    <h1 class="mb--xl">
      Meteorite
      <div class="mtr-subtitle">The Meteor styleguide</div>
    </h1>
    <mtr-btn routerLink="/docs" outline white>Go to documentation</mtr-btn>
  </mtr-container>
</mtr-banner>

<mtr-banner black inverse>
  <mtr-container class="p--l text--center">
    <h2 class="mb--xl">Created by</h2>
    <a href="https://codecomet.io">
      <img src="assets/logo-light.svg" class="made-by">
    </a>
  </mtr-container>
</mtr-banner>
